# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
ImageAI/pyvenv.cfg
ImageAI/Scripts/activate
ImageAI/Scripts/activate.bat
ImageAI/Scripts/Activate.ps1
ImageAI/Scripts/deactivate.bat
ImageAI/Scripts/f2py.exe
ImageAI/Scripts/fonttools.exe
ImageAI/Scripts/huggingface-cli.exe
ImageAI/Scripts/isympy.exe
ImageAI/Scripts/jsonschema.exe
ImageAI/Scripts/normalizer.exe
ImageAI/Scripts/numpy-config.exe
ImageAI/Scripts/pip.exe
ImageAI/Scripts/pip3.11.exe
ImageAI/Scripts/pip3.exe
ImageAI/Scripts/pyftmerge.exe
ImageAI/Scripts/pyftsubset.exe
ImageAI/Scripts/pytesseract.exe
ImageAI/Scripts/python.exe
ImageAI/Scripts/pythonw.exe
ImageAI/Scripts/streamlit.cmd
ImageAI/Scripts/streamlit.exe
ImageAI/Scripts/tiny-agents.exe
ImageAI/Scripts/torchfrtrace.exe
ImageAI/Scripts/torchrun.exe
ImageAI/Scripts/tqdm.exe
ImageAI/Scripts/transformers-cli.exe
ImageAI/Scripts/transformers.exe
ImageAI/Scripts/ttx.exe
ImageAI/Scripts/watchmedo.exe
ImageAI/etc/jupyter/nbconfig/notebook.d/pydeck.json
ImageAI/share/jupyter/nbextensions/pydeck/extensionRequires.js
ImageAI/share/jupyter/nbextensions/pydeck/index.js
ImageAI/share/jupyter/nbextensions/pydeck/index.js.map
ImageAI/share/man/man1/isympy.1
ImageAI/share/man/man1/ttx.1
image_examples/0000A2.png
image_examples/0000A9.png
image_examples/0000B0.png
image_examples/0000B7.png
image_examples/0000BE.png
image_examples/0000C5.png
image_examples/0000CC.png
image_examples/0000D3.png
image_examples/0000DA.jpg
image_examples/0000E1.webp
image_examples/0000E8.jpg
image_examples/0000EF.png
image_examples/00000F.png
image_examples/0000F6.png
image_examples/0000FD.png
image_examples/000001.png
image_examples/00001D.webp
image_examples/00002B.jpg
image_examples/00004E.jpg
image_examples/00005C.jpg
image_examples/00006A.jpg
image_examples/00007F.jpg
image_examples/000008.png
image_examples/00008D.png
image_examples/00009B.png
image_examples/00010B.png
image_examples/000016.webp
image_examples/000024.webp
image_examples/000032.jpg
image_examples/000039.jpg
image_examples/000040.jpeg
image_examples/000047.jpg
image_examples/000055.jpg
image_examples/000063.jpg
image_examples/000071.jpg
image_examples/000078.png
image_examples/000086.png
image_examples/000094.png
image_examples/000104.png
image_examples/000112.png
image_examples/image_examples.rar
